# Server Config
PORT=3000

# Google Drive API (ตั้งค่าจาก Google Cloud Console)
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback
GOOGLE_DRIVE_FOLDER_ID=your_folder_id_here

# Company Info
COMPANY_NAME=บริษัท ไอเอ็นซี เทคโนโลยี จำกัด
COMPANY_TAX_ID=0105546142731
COMPANY_ADDRESS=126/260 ซอยรามอินทรา40 ถนนรามอินทรา แขวงคลองกุ่ม เขตบึงกุ่ม กรุงเทพมหานคร 10230
